{extend name="common/base" /}
{block name="container"}
<div class="layui-tab layui-tab-card my-tab" lay-filter="card" lay-allowClose="true">
    <ul class="layui-tab-title">

    </ul>
    <div class="layui-tab-content">

    </div>
</div>
<script>
    layui.use('element', function() {
        var element = layui.element();
        var src = '__ROOT__/admin/user/lists';

        element.tabAdd('card', {
            title: '<span>' +1  + '</span>'
            , content: '<iframe src="' + src + '" frameborder="0"></iframe>'
            //, content: src
            , id: 1
        });
        element.tabChange('card', '1'); //切换到：用户管理
    });
</script>
{/block}
