<div class="layui-header my-header">
    <!--<a href="javascript:;">
        <img class="my-header-logo" src="" alt="logo">
    </a>-->
    <a href="index.html">
        <div class="my-header-logo">xx后台管理系统</div>
    </a>

    <ul class="layui-nav my-header-user-nav">
        <li class="layui-nav-item"><a href="javascript:;"></a></li>
        <li class="layui-nav-item">
            <a class="name" href="javascript:;">&emsp;&emsp;Admin </a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">个人信息</a></dd>
                <dd><a href="javascript:;">修改密码</a></dd>
                <dd><a href="/">退出</a></dd>
            </dl>
        </li>
    </ul>
</div>