
<div class="layui-side my-side">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="side">
            <li class="layui-nav-item"><a href="javascript:;" href-url="demo/btn.html" data-type="tabAdd">按钮</a></li>
            <li class="layui-nav-item"><a href="javascript:;" href-url="demo/form.html" data-type="tabAdd">表单</a></li>
            <li class="layui-nav-item"><a href="javascript:;" href-url="demo/table.html" data-type="tabAdd">表格</a></li>
            <li class="layui-nav-item"><a href="javascript:;" href-url="demo/tab-card.html" data-type="tabAdd">选项卡</a></li>
            <li class="layui-nav-item"><a href="javascript:;" href-url="demo/progress-bar.html" data-type="tabAdd">进度条</a></li>
            <li class="layui-nav-item"><a href="javascript:;" href-url="demo/folding-panel.html" data-type="tabAdd">折叠面板</a></li>
            <li class="layui-nav-item"><a href="javascript:;" href-url="demo/auxiliar.html" data-type="tabAdd">辅助元素</a></li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">扩展<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" href-url="demo/login.html" data-type="tabAdd">登录页</a></dd>
                    <dd><a href="javascript:;" href-url="demo/map.html" data-type="tabAdd">图表</a></dd>
                    <dd><a href="javascript:;" href-url="demo/add-edit.html" data-type="tabAdd">添加-修改</a></dd>
                    <dd><a href="javascript:;" href-url="demo/data-table.html" data-type="tabAdd">data-table 表格页</a></dd>
                    <dd><a href="javascript:;" href-url="demo/tree-table.html" data-type="tabAdd">Tree table树表格页</a></dd>
                    <dd><a href="javascript:;" href-url="demo/404.html" data-type="tabAdd">404页</a></dd>
                    <dd><a href="javascript:;" href-url="demo/tips.html" data-type="tabAdd">提示页</a></dd>
                </dl>
            </li>
            <span class="layui-nav-bar"></span></ul>
    </div>
</div>

